@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #3c6382;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Crimson Text', serif;
  text-align: center;
}

#title {
  padding-top: 40px;
  color: #f5f6fa;
}

label {
  font-size: 1.6rem;
  color: #f5f6fa;
  font-weight: 700;
}

input[type="date"] {
  font-size: 1.2rem;
  background: transparent;
  color: #f5f6fa;
  border: 1px solid #f5f6fa;
  padding: 5px 15px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#submit-dob {
  padding: 8px 20px;
  border-radius: 10px;
  border: 1px solid #3c6382;
  background: #f5f6fa;
  color: #1f1f1f;
  font-size: 1rem;
}

#submit-dob:hover {
  border: 1px solid #f5f6fa;
  background: transparent;
  color: #f5f6fa;
}


#timer-container {
  padding: 20px;
  text-align: center;
  display: none;
  display: none;
  flex-direction: column;
  gap: 2rem;
}

#quote {
  font-size: 1.2rem;
  color: #f5f6fa;
}

#timer {
  color: #EEF1FF;
}

.remove-element {
  animation: remove-animate .6s linear;
}

.add-element {
  animation: add-animate .6s linear;
}


@keyframes remove-animate {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-15rem);
    opacity: 0;
  }
}

@keyframes add-animate {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* for larger screens */

@media screen and (min-width: 700px) {
  #submit-dob {
    font-size: 1.2rem;
  }

  input[type="date"] {
    font-size: 1.8rem;
  }

  label {
    font-size: 2rem;
  }
}